<!--<ion-navbar>-->
<!--<ion-buttons left>-->
<!--<button ion-button icon-only>-->
<!--<ion-icon name="menu"></ion-icon>-->
<!--</button>-->
<!--</ion-buttons>-->

<!--<ion-title>-->
<!--Page Title-->
<!--</ion-title>-->

<!--<ion-buttons end>-->
<!--<button ion-button icon-only (click)="openModal()">-->
<!--<ion-icon name="options"></ion-icon>-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-navbar>-->
<ion-header>
    <ion-title>
        应用商城
    </ion-title>
    <ion-navbar>
        <ion-grid>
            <ion-row>
                <ion-col col-11 *ngIf="!searchPanel">
                    <ion-item>
                        <ion-avatar item-start>
                            <img src="/img/personal-head-visitor.png" width="50px" height="50px">
                        </ion-avatar>
                        <h2>普陀区教育局</h2>
                        <p>HSJC</p>
                    </ion-item>
                </ion-col>
                <ion-col col-1 *ngIf="searchPanel">
                    <ion-icon name="arrow-back" (click)="returnBack()"></ion-icon>
                </ion-col>
                <ion-col col-10 *ngIf="searchPanel">
                    <ion-searchbar id='search' animated="true" placeholder="输入您想搜索的内容"
                                   (ionInput)="onInput($event)"
                            [(ngModel)]="myInput"
                            [showCancelButton]="false"
                            (ionCancel)="onCancel($event)">
                    </ion-searchbar>
                </ion-col>
                <ion-col col-1>
                    <ion-icon name="search" left ios="ios-search" md="md-search" (click)="returnBack()"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-grid>

        <!-- Advanced: explicity set the icon for each platform -->
        <!--<ion-col col-12>This column will take 12 columns</ion-col>-->
    </ion-navbar>
</ion-header>

<ion-tabs selectedIndex="3" tabbarLayout="icon-left" tabsHighlight="true" tabsPlacement="top">
    <!--<ion-tabs selectedIndex="0" tabbarLayout="icon-left" tabsPlacement="top">-->
    <ion-tab [root]="tab1Root" tabTitle="云推送应用"></ion-tab>
    <ion-tab [root]="tab2Root" [rootParams]="chatParams" tabTitle="应用商城"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="我的应用"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="地理位置"></ion-tab>
</ion-tabs>

<!--<ion-footer no-border>-->

<!--<ion-toolbar>-->
<!--<ion-title>I'm a footer</ion-title>-->
<!--</ion-toolbar>-->

<!--</ion-footer>-->
