page-tabs {
  text-align: center;

  ion-header {
    ion-title {
      background-color: $list-ios-header-background-color;
      height: 40px;
      font-size: 20px;
      line-height: 2;
    }
    .toolbar-title {
      color: $white !important;
    }
  }

  ion-toolbar {
    transform: translate3d(0,40px,0);
    height: 60px;

    #avatarPanel {
      background-color: transparent !important;
      * {
        color: $white !important;
        line-height: 1.5;
      }
      h2 {
        font-size: 16px !important;
        font-weight: bold !important;
      }

      p {
        line-height: 1 !important;
        font-size: 12px !important;
        font-weight: lighten;
        text-indent: 2px;
      }
    }

    .searchbar-ios .searchbar-input {
      padding-left: calc(25% - 45px) !important;
      position: relative;
      top: 3px;
      background-color: $white !important;
      height: auto;
      line-height: 3rem;
      font-size: 16px;
    }

    .col {
      height: 60px;
    }

    a.tab-button {
      font-size: 14px;
    }

    ion-icon {
      font-size: 2em;
      line-height: 50px;
      color: $white !important;
    }

    ion-item {
      height: 100%;
      padding-left: 0 !important;
    }
    div.item-inner {
      border: 0 !important;
    }
    .toolbar-background {
      background-image: $panel-gradient !important;
    }

    div.searchbar-search-icon {
      display: none;
    }

    button.searchbar-clear-icon {
      right: 2.5rem !important;
    }

    #search .searchbar-input {
      border-radius: 2rem;
      padding: 0.6rem 2.5rem;
      margin: 0 auto;
    }
  }

  div.tabbar {
    top: 10rem !important;
    height: 4rem;
  }

  .list-ios, .list-md, .list-wp {
    margin: 110px 0 0;
  }
  ion-content {
    background-color: $background-grey !important;
  }

  video {
    width: 100%;
  }

}