/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1508123065459'); /* IE9*/
    src: url('iconfont.eot?t=1508123065459#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAA04AAsAAAAAE7QAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZXB0nIY21hcAAAAYAAAADtAAACxko224RnbHlmAAACcAAACDIAAAtoGiX/uWhlYWQAAAqkAAAAMQAAADYPqslZaGhlYQAACtgAAAAgAAAAJAhWBAFobXR4AAAK+AAAABwAAABMTGD//2xvY2EAAAsUAAAAKAAAACgZHhxybWF4cAAACzwAAAAfAAAAIAEmAIhuYW1lAAALXAAAAUUAAAJtPlT+fXBvc3QAAAykAAAAkQAAAMl3mLvoeJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2BkYWWcwMDKwMHUyXSGgYGhH0IzvmYwYuRgYGBiYGVmwAoC0lxTGBwYKp6fY27438AQw9zMMBMozAiSAwDlOAxleJzFkjtuAkEQRGtgjT/8Eek6WjnigNwEiYgEWKHlAFyC2JHDGqekJLhmayVsWXaG6NYbabpH6tJUA3gA0BYzkQHhAwEp3lUNdb2Nl7qeodL9FSNVBpiz4IJLrlhyxz0PPPEcpzGPx8tF7679tfrVr/7fETTjmoXy7Vum/gQtacikvYNHPOFZCrvooS9dQ+kb61Hn3xk3jXC/0T+jV5+fzW0i5g2SyMKkOhdG/wouTdoKrkzaDK5N2hhujP4f3Bo5AZZGnoA7I3fAyqRN4t7IMfBgklKejFwEz0Z+Ik6NnEXMjTxGPBqMvwCdqWelAAAAeJyFVmtsHFcVvufenbnz3NnZee06Xtu7692JcbKuva8Y22vTBJWWiDQqDYSKR/kBAqeVqFolapBY8RBVmwYqiPIjpD9o1KCGH60CSJESGpQQaEIAWVWVppQQqAgJKKJRpaBgX3PurG1AQmI1e+bsmXvPnsd3vjtEIWT5KjvJcsQj68k42ULuJwTUUSilaQGKcaNGRyEoKkHkp1lcjou8XKqxGYhKqh9OtBrVSOWqA2kYgHpxohXXaAzNRodOwURYAMiv63sgW+nPsm+DkYsHviHuo9+HYLDc73Q2ins3zPoTQ56228pm89nsPk1VFI3SlJOGR6JQV3RDFUcUpy84OThCB8HKx31bd9pD67IPP9V4tFCJdIBuF7x1Q+mjs26fi9eX+0Ivm+cZW8v12eVhH3a/Y+Y8q1D9E8EPSEHP0XOYK+boRxB2oBpDDdrQQclhlx9Ak7sWcHFBBRVaHCyXw1FvwhPvqpB2VXCUtAJ51U2DmriTgn2AvkFMEhHSllVpA9alxF1ZnxiqWKnoFdV2VTqPknPXVpcOqCi34T+ptCvl0mdV/CPalZKoy8vLn08Z7AmMMyZTZBv5FHkUI26FkTeAkcYMvTN1AFptZQB6xZ+FVjWulNKAa0J1DKqoDULYilkNn0egVtteqwYq7gtnV7Ktri3rSL3Vszs0aSZcMhz9sZTn89SX8lv7diua5yl0e17x3tZo2tffHo3eL66YGWobX1et8I7um4p+p9ExpqkbmFQ4oaVupmbgsrvNmcairpqeIQ4X0yOanwZ+KZEfcTKPmBZzzF0fM2zIGGwDtkTc1jXNM0BrNsSikdW5McfSzknuZ0A9GX9IG7QChy6dzOn2AUXJeup3+0cnITJNJWOKS7aeg8hwFdMQ1yc39u9XvKyqwFzBqnDI+Pw09s/n14Fa1AkssDRwAruHC7aV1hJctCYiSKqc1KjXT6Ha2P2k6eKWN+GLv6gSC0uqKs6rVEKk5UMgLmArOVnzt0P6qyR4kJXHPkifEne/9yc89CcBJW6hb3ENfauL/xN9q7g9voLb0OdJxyXK4qSBEf0qBnKhh9Vm4Ivz0okK30SoImxl1OAghBG28h8Jw5k/nSJsjryP1Mk0+uRRxa1BXHQHICq6CF41cNtFtLi8iCa3rbRjnpTCq0Fv8uMOTrivlqrwVvk9+Ci9f3pxPwr2WCafKSy+NHwXFNgOlJb4xdDt9zQ30j8Jmx7chNezkBvO4QVzqUOLkO1sp0suCiharmuJxQKMV+iClGIxdw2+d1uPXA1eH52c3DE5OerlcpVcLpm75S4TrEsqpC2nmfCQRK3hdqudFFvliK8qiVukjQkk/awBtItp8ENJVM0kS07JZXFFUaB4+VUIhhkFG8EFrHjnh2fFP9GunN3/x01KFodg9g4U82LJSKcNYGY6HaSBdRVx5bJ0kLp+wnVNh9lGxvnBApP7zoKi0ANdXdOzxrMviiN5wC1pEzzcayY9Xf4K+xvGv40QpdocS6ZxDKJQ5R1oYukxfox8YhYmVucSWdlBBSsvc/JlioNMju8gxNVWOwFFB9gNqhhG8KpvcAZU7WxO3Xjl5RuKcuNlTaumixsNg2eN8oDOzAH70MVU6uKhQ79OTbU5pVTRTV/uQ1WTQ47iMynQTCs8E5gakrM1/fzO4zcV5ebxH91UgBl2KusbzNQog9TC84cXUqmFw9ueblqamlrdpeIu7ruUW/oaB7OYThN3dTYkV0I7TpAMv9UQ3hu442vi9fKPNd8B7S2uQRP5govzcJTjAGtrvDtP/9rjXZBHUbkooVkHCc9efwP2oG5Z+tIOKWHOylp4wXzvLk5LK31JyqQfXZyJLhmRaOKAU1Oqxm4rCTCWuEFuClyJ+KaLpwY2AUcjRaAkTkE6TAOSxYe9uLD490LswbjmBI54owSwpc4y9S1MGy+LX4k+03FMeNfUYMqbjAHiSV/8nJviW4n9c9Aoj9e34B5CsFjLpzCezUl+ZTKG58A95AHyabIX4yv+O924LOVUUgBILFGxA41qMbFHdan37PVkV/G/1q+OQ6NaKUu9Z1fKzWQ6gpW1wQCaZ6Ce7Omnv7QyGWtpE8rvPCxVKdhDicFKHi4+u2aHn4kFqUMNpYj/r509tDeTy8CT8veTgOpeaTQyOdfNZSbxi5r4s1wiH67ely72FvQk9P3nM7y+IJ1Ye1e8JcrK2b38ONb4ceJgfYlSxNaON1pYjzAY91U2LoHpSsLjbu8Yh7Adhe1WM0EFe2cxSZnJlLfrOU0cATtngzii5TIcnqGMWiZLATxt7MtYcqWVoU9xLl6kP0kqeB98gjuRIZ5gwBhyD36eMRDMLOG203j+ryebyAex3/WEhGV8Lk+6EGO3goStJdSRE5Lu1SvtcsJ1Y8Dl68EsuHIW2r1ZoCcO9lchWhovVKOrhm0bV3UbZu+iv8Hb3NhB3bZ18cJrpdfULB4Yb17GM8PlL9ieBbZnw5tQKQgSVfspCaUNLEOQsVmwdYo3CpZn7/vD7zjYrnbzFs/awC8uzRmWZdDT0nEyX8+l9rA9pIn5ILepgR+2x9eoTEdiaya/kM8wwzEYrwEmxRHDOiSMyO6d+eKIPmiVdtbn97NKUcyI6dIw2z9f/3jpIPcdfmB011T3GNu4Hq7BtZFRdoztgdFYszKWOVQBuXBnWczAmeGdE+gAhocOSp45MLKBHet25kdEHq6Nzk93j63w1HKX/oN9jWRxGHsvi73XuUZynNNzYkuUg59qYUYTd2scTpnaINstpvNzeXGP5gYanNBCHc6Yg3iCk38B+XTnnQAAeJxjYGRgYABimbDzwfH8Nl8ZuFkYQOAal9NOGP3///90lgrmZiCXg4EJJAoAKWQLawAAAHicY2BkYGBu+N/AEMNS/v///28sFQxAERQgDAC0iQdeeJxjYWBgYH7JwMDCAMP//yPYROJyCA0AwlEDqgAAAAAAdgCgAMoBggGqAdIB+gJcArwDOANcA4QDzAR+BMoFNAWMBbR4nGNgZGBgEGaoYeBkAAEmIOYCQgaG/2A+AwAXNgGvAHicZY9NTsMwEIVf+gekEqqoYIfkBWIBKP0Rq25YVGr3XXTfpk6bKokjx63UA3AejsAJOALcgDvwSCebNpbH37x5Y08A3OAHHo7fLfeRPVwyO3INF7gXrlN/EG6QX4SbaONVuEX9TdjHM6bCbXRheYPXuGL2hHdhDx18CNdwjU/hOvUv4Qb5W7iJO/wKt9Dx6sI+5l5XuI1HL/bHVi+cXqnlQcWhySKTOb+CmV7vkoWt0uqca1vEJlODoF9JU51pW91T7NdD5yIVWZOqCas6SYzKrdnq0AUb5/JRrxeJHoQm5Vhj/rbGAo5xBYUlDowxQhhkiMro6DtVZvSvsUPCXntWPc3ndFsU1P9zhQEC9M9cU7qy0nk6T4E9XxtSdXQrbsuelDSRXs1JErJCXta2VELqATZlV44RelzRiT8oZ0j/AAlabsgAAAB4nG3Myw7CIBRFUY6l9GF91h9EuAQiguHS6ucbY5y5Rnu0xUZ8jeK/GRs0kGih0KHHgBFbTNhhjwOOOOGMGReBl7xqc2tNzEy902suoZKMxDzec6EluRyt/GTzCKYr5AqxV0y6GN8zRTKVbKOtVS7ESqVLeo2B6xRMTjY/U8zatux1oeH3Z+V08ksQ4g378y6QAAAA') format('woff'),
    url('iconfont.ttf?t=1508123065459') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont.svg?t=1508123065459#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 1rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
    content: "\e697";
}

.icon-close:before {
    content: "\e69a";
}

.icon-favorite:before {
    content: "\e6a0";
}

.icon-less:before {
    content: "\e6a5";
}

.icon-moreunfold:before {
    content: "\e6a6";
}

.icon-more:before {
    content: "\e6a7";
}

.icon-pic:before {
    content: "\e6a8";
}

.icon-refresh:before {
    content: "\e6aa";
}

.icon-search:before {
    content: "\e6ac";
}

.icon-selected:before {
    content: "\e6ad";
}

.icon-add:before {
    content: "\e6b9";
}

.icon-filter:before {
    content: "\e6f1";
}

.icon-navlist:before {
    content: "\e6fa";
}

.icon-icondownload:before {
    content: "\e714";
}

.icon-share:before {
    content: "\e71d";
}

.icon-favorites:before {
    content: "\e7ce";
}

.icon-fanhui:before {
    content: "\e624";
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.clear-float {
    clear: both;
    margin: 1rem auto;
}

.text-left, .text-left * {
    text-align: left;
}

.hide {
    display: none !important;
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

button {
    text-align: center !important;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    text-align: center;
}

h1, h3 {
    font-weight: normal;
    margin: 0rem;
    overflow: visible;
    padding: 0rem;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.125rem;
}

body {
    z-index: 1;
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #F0F0F2;
    position: relative;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    height: 100vh;
    margin: 0rem;
    padding: 0rem;
    text-transform: uppercase;
    width: 100%;
    overflow: scroll;
    height: 100vh;
}

body > div {
    width: 100%;
}

/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 3.125rem; /* text area height */
    width: 14.0625rem; /* text area width */
    padding: 11.25rem 0rem 0rem 0rem; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -7.1875rem 0rem 0rem -7rem; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
        padding: 4.6875rem;
        0rem 4.6875rem 10.625rem; /* padding-top + padding-bottom + text area = image height */
        margin: -5.625rem 0rem 0rem -12.375rem; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

@media screen and (max-width: 359px) and  (min-width: 300px) {
    input {
        width: 13.75rem !important;
    }
}

@media screen and (max-width: 399px) and  (min-width: 360px) {
    input {
        width: 15.75rem !important;
    }
}

.event {
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    color: #FFFFFF;
    font-size: 0.75rem;
    margin: 0rem 1.875rem;
    padding: 0.125rem 0rem;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

#head {
    background-color: #1B1B20;
    height: 2.5rem;
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 2.5rem;
}

#panel {
    padding: 0.4375rem 0.9375rem;
    height: 3.75rem;
    box-sizing: border-box;
    background-image: linear-gradient(left, #508DFF 0%, #3BB8FE 100%);
    background-image: -webkit-linear-gradient(left, #508DFF 0%, #3BB8FE 100%);
    background-image: -ms-linear-gradient(left, #508DFF 0%, #3BB8FE 100%);
    background-image: -webkit-gradient(left, #508DFF 0%, #3BB8FE 100%);
}

#selection:after {
    clear: both;
}

#avatar {
    height: 2.9375rem;
    width: 2.9375rem;
    background-color: red;
    border-radius: 100%;
}

input {
    height: 2.5rem;
    float: left;
    border: 0;
    border-radius: 1.5rem;
    font-size: 1rem;
    line-height: 2.5rem;
    margin-top: 0.125rem;
    width: 18.75rem;
}

#role {
    margin-left: 0.75rem;
    display: inline-block;
    position: relative;
    top: 0.3125rem;
    color: white;
}

#role .roleHead {
    font-size: 1rem;
    font-weight: bold;
}

#role .roleText {
    font-size: 0.75rem;
    margin-left: 0.1875rem;
    text-align: left;
}

#panel i {
    font-size: 1.875rem;
    color: white;
    font-weight: bold;
    margin-top: 0.4375rem;
}

#section {
    box-sizing: border-box;
    height: 2.5rem;
    background-color: #ffffff;
    border-bottom: rgb(220, 221, 225) 1px solid;
    line-height: 2.5rem;
}

#resultList {
    background-color: #ffffff;
    bottom: 0rem;
    top: 9.375rem;
    position: absolute;
    overflow: scroll;
    z-index: 0;
}

.cell {
    height: 4.375rem;
    border-bottom: rgb(220, 221, 225) 1px solid;
    padding: 0.9375rem;
    position: relative;
}

.cell .cell-button {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

.cell-icon {
    height: 3.75rem;
    width: 3.75rem;
    background-color: red;
    border-radius: 0.625rem;
}

.cell-body {
    position: absolute;
    left: 5.625rem;
    right: 0.9375rem;
    top: 0.9375rem;
    bottom: 0.9375rem;
    font-size: 0.625rem;
    color: rgb(153, 153, 153);
}

.cell-body div {
    margin-top: 0.625rem;
}

.cell-body span {
    margin-left: 0.3125rem;
    margin-right: 0.3125rem;
}

.cell-title {
    color: rgba(51, 51, 51, 1);
    font-size: 1rem;
    font-weight: bold;
}

.cell-title:after {
    clear: both;
}

.cell-button {
    background-color: rgb(63, 152, 237);
    border: 0px;
    border-radius: 0.3125rem;
    font-size: 0.875rem;
    color: #ffffff;
    height: 1.875rem;
    width: 3.75rem;
}

#buttonset {
    z-index: 500;
    width: 12.5rem;
    position: fixed;
    left: 50%;
    margin-left: -6.25rem;
    bottom: 1.25rem;
    height: 2.1875rem;
    border-radius: 0.9375rem;
    overflow: hidden;
    border: 1px solid #e1e1e1;
    transition: all 5s;
}

#buttonset i {
    color: #0B99F4;
    margin-right: 0.4375rem;
}

#buttonset > button:last-child {
    border-right: none;
}

#buttonset button {
    display: inline-block;
    height: 100%;
    width: 50%;
    border: 0;
    border-radius: 0rem;
    border-right: 1px solid #e1e1e1;
    background-color: #ffffff;
    font-size: 0.875rem;
    font-weight: bold;
}

.subsection {
    font-size: 0.875rem;
    color: rgba(102, 102, 102, 1);
    line-height: 2.5rem;
    width: 25%;
    height: 100%;
    display: inline-block;
}

.selected {
    position: relative;
    top: -0.25rem;
    left: 50%;
    margin-left: -0.625rem;
    height: 0.25rem;
    width: 1.25rem;
    background-color: #1B1B20;
}

#filter {
    border-right: 1px solid black;
}

#nullResult {
    position: absolute;
    top: 0;
    line-height: 100vh;
    font-size: 1.125rem;
    font-weight: bold;
    color: #666666;
}

#appDetail {
    overflow: scroll;
}

#resultList .cell-title {
    margin-top: 0;
}

#appDetail .cell-title {
    margin-bottom: 1.5rem;
}

#appOverview, #appDescription, #appRecommend {
    padding: 1.25rem 1.125rem 1.875rem;
    background-color: white;
    margin-bottom: 0.625rem;
    overflow: scroll;
}

#recommendBox {
    margin-top: 1.25rem;
    z-index: 999;
    height: 8.75rem;
    overflow-x: scroll;
    overflow-y: hidden;
    min-width: 100%;
    white-space: nowrap;
}

.tile:first-child {
    margin: 0;
}

.tile {
    display: inline-block;
    width: 3.75rem;
    margin: 0 0 0 1.5rem;
}

.tile .cell-title {
    font-size: 0.75rem;
    font-weight: normal;
    width: 100%;
    margin: 0.4rem 0 0.7rem !important;
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

#appOverview button {
    margin: 1.25rem auto;
    display: block;
    border: 0rem;
    border-radius: 1.875rem;
    width: 8.75rem;
    height: 2.8125rem;
    vertical-align: middle;
    font-size: 1.125rem;
    font-weight: 100;
    color: white;
}

button.blue {
    background-color: #0b99f4;
}

button.green {
    background-color: #63be0c;
}

#appImage {
    margin: 0.625rem auto 0;
    width: 4.375rem;
    height: 4.375rem;
    background-color: red;
    border-radius: 0.625rem;
}

#appInfo {
    position: static;
    margin: 1.25rem auto 1.875rem;
}

#returnIcon {
    margin-left: -0.3125rem;
    margin-top: -0.3125rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 1rem;
    width: 1.25rem;
    border-radius: 1.25rem;
    background-color: #0B99F4;
    color: white;
    font-weight: bold;
}

#filterCriteria, #sortCriteria {
    z-index: 999;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    opacity: 1;
    position: fixed;
    bottom: 0;
    font-size: 1rem;
}

#filterCriteria > div, #sortCriteria > div {
    padding: 1.25rem 1rem;
    border-bottom: 1px solid rgb(234, 235, 237);
    position: relative;
}

#filterCriteria > div:last-child, #sortCriteria > div:last-child {
    border: none;
}

#backdrop i {
    font-size: 1.25rem;
    position: absolute;
    right: 0.875rem;
"
}

#backdrop {
    z-index: 700;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    font-weight: normal;
}

#backdrop .cell-title {
    font-size: 1.25rem;
    color: #1B1B20;
    margin-bottom: 1rem;
    font-weight: bold;
}

#backdrop button {
    width: 10.5rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    border: 1px solid #d6d7dc;
    background-color: #FFFFFF;
    font-size: 1rem;
}

#backdrop button.selected-button {
    background-color: #0B99F4;
    color: #FFFFFF;
}

#backdrop .cancel, #backdrop .submit {
    color: #088de8;
}

.button-container {
    overflow: auto;
    margin-bottom: 1rem;
}

.button-container:after {
    clear: both;
}