<ion-content #container no-border>
    <ion-list id="appList" no-border>

        <!--<ion-item *ngFor="let app of apps" (click)="pushTestPage(app.title, app.image)">-->
        <ion-item *ngFor="let app of apps | inputSearch : 'title' : value" (click)="pushTestPage(app.title, app.image)">
            <ion-avatar item-left>
                <img src={{app.image}}>
            </ion-avatar>
            <h2>{{app.title}}</h2>
            <p>{{app.period}} | {{app.downTotal}}次下载</p>
            <p>2017-07-26</p>
            <button ion-button clear item-right>下载</button>
        </ion-item>

        <!--<ion-item>-->
        <!--<ion-label>Pepperoni</ion-label>-->
        <!--<ion-toggle [(ngModel)]="pepperoni" (ionChange)="output(pepperoni)"></ion-toggle>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
        <!--<ion-label>Sausage</ion-label>-->
        <!--<ion-toggle [(ngModel)]="sausage" disabled="true"></ion-toggle>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
        <!--<ion-label>Mushrooms</ion-label>-->
        <!--<ion-toggle [(ngModel)]="mushrooms" (ionChange)="output(mushrooms)"></ion-toggle>-->
        <!--</ion-item>-->
    </ion-list>
    <float-buttonset [b1]="'筛选'" [b2]="'排序'" *ngIf="showCriteria === 'static'"></float-buttonset>
    <!-- 
    <float-buttonset [b1]="'筛选'" [b2]="'排序'" [(displayElements)]="showCriteria"></float-buttonset> -->

</ion-content>